<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Liz Lam and Rudy Gagneron's Wedding Webpage">
    <meta name="author" content="Rudy Gagneron">
    <title>Liz & Rudy</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body data-spy="scroll" data-target="#menu">

<a id="menuIcon" class="btn btn-lg">
    <span class="menu-bar top"></span>
    <span class="menu-bar middle"></span>
    <span class="menu-bar bottom"></span>
</a>

<div id="menu">
    <ul class="nav">
        <li><a href="#section1">Top</a></li>
        <li><a href="#section2">When & Where</a></li>
        <li><a href="#section4">RSVP</a></li>
        <li><a href="#weddingPartyPanel">Wedding Party</a></li>
    </ul>
</div>

<!-- <div class="fixedBg">

</div> -->
<div id="section1">
	<div id="innerSection">
		<div class=" jumbotron">
			<h1>&nbsp;&nbsp;Liz &nbsp;<i class="fa fa-heart"></i>&nbsp; Rudy</h1>
			<h2>WE'RE GETTING MARRIED!</h2>
		</div>
	</div>
</div>
<div class="container" id="section2">
	<!-- <h2 class="transitionPosition transitionTop"><span class="animateOpacity">WHEN & WHERE</span></h2> -->

    <div class="header animateOpacity transitionTop transitionPosition">
        <h2>WHEN & WHERE</h2>
    </div>
    <hr class="animateOpacity transitionTop transitionPosition">
    <span class="heart animateOpacity transitionTop transitionPosition"><i class="fa fa-heart"></i></span>

	<div id="locationBrief" class="animateOpacity transitionPosition transitionTop">
		We chose the Scripps Seaside Forum as our wedding venue because of it's beautiful location and proximity to the ocean. La Jolla's shores are very near and dear to Liz's heart as she loves the sea and it's where she spent her high school summers surfing. For Rudy, this is the beach where he first got stung by a sting ray.
        
	</div>
    <hr class="animateOpacity transitionTop transitionPosition">
	<div class="row dateLocationRow">
    	<div class="dateLocationCol col-sm-5 col-sm-offset-1 transitionPosition transitionLeft">
        	<div id="location" class="box animateOpacity">
            	<div class="boxTitle">
            		<i class="fa fa-calendar boxIcon"></i>
        			<span class="boxLabel">Date & Time</span>
                </div>
                <div class="textBox">
                	The procession is scheduled to begin at <strong>3 PM</strong> on <strong>Sunday November 22, 2014</strong> with games, dinner and dancing to follow.
                </div>
        	</div>
        </div>
        <div class="dateLocationCol col-sm-5 transitionPosition transitionRight">
        	<div id="date_time" class="box animateOpacity">
            	<div class="boxTitle">
            		<span class="glyphicon glyphicon-map-marker boxIcon"></span>
        			<span class="boxLabel">Location</span>
                </div>
                <div class="textBox">
                	The wedding will take place at the <strong>Scripps Seaside Forum</strong>, which is located at <strong>8610 Kennel Way, La Jolla, CA 92037</strong>.
                </div>
        	</div>
        </div>
    </div>
    <div id="map_canvas"></div>
</div>
<div id="section3" class="bigBg"></div>
<div class="container" id="section4">
	<!-- <h2 class="animateOpacity transitionTop transitionPosition">R.S.V.P</h2>
    <hr class="animateOpacity transitionTop transitionPosition">
    <span class="heart animateOpacity transitionTop transitionPosition"><i class="fa fa-heart"></i></span> -->

    <div class="header animateOpacity transitionTop transitionPosition">
        <h2>R.S.V.P.</h2>
    </div>
    <hr class="animateOpacity transitionTop transitionPosition">
    <span class="heart animateOpacity transitionTop transitionPosition"><i class="fa fa-heart"></i></span>


	<div class="row centered animateOpacity transitionTop transitionPosition">
    	<button class="col-xs-8 col-xs-offset-2 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4 btn btn-lg">Please R.S.V.P. by October 10th.</button>
    </div>
    <div id="form" class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2 animateOpacity transitionLeft transitionPosition">
            <label for="name">*Name:</label>
            <input id="name" type="text" required class="form-control">
            <label for="email">*Email:</label>
            <input id="email" type="text" required class="form-control">
            <label>*Are you attending?</label><br/>
            <label class="radio-inline">
              <input type="radio" name="attendingOption" id="attendingYes" value="yes"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="attendingOption" id="attendingYes" value="no"> No
            </label>
            
            <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option1" autocomplete="off"> Radio 1 (preselected)
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
  </label>
</div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0  col-sm-5 col-lg-4 animateOpacity transitionRight transitionPosition">
            <label for="message">Leave a message:</label>
            <textarea id="message" class="form-control"></textarea>
        </div>
       
    </div>

</div>
<div id="section5" class="bigBg"></div>
<div class="container" id="weddingPartyPanel">
    <div class="header animateOpacity transitionTop transitionPosition">
        <h2><span></span>WEDDING PARTY<span></span></h2>
    </div>
    <hr class="animateOpacity transitionTop transitionPosition">
    <span class="heart animateOpacity transitionTop transitionPosition"><i class="fa fa-heart"></i></span>
    <div class="weddingPartyGroup row">
        <div class="title col-sm-3 col-xs-12 animateOpacity transitionLeft transitionPosition">BRIDESMAIDS</div>
        <div class="partyBoxes col-sm-8 col-xs-12 animateOpacity transitionRight transitionPosition">
            <div class="row">
                <div class="partyBox col-xs-5 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-2">
                    <div ng-repeat="icon in socialIcons" class="ng-scope">
                        <section class="partyBoxSection">
                          <div class="button"><a target="_blank" class="btn"><span class="label">image</span></a></div>
                          <div class="cover">
                            <div class="innie"><i class="fa fa-lg fa-female"></i></div>
                            <div class="spine"></div>
                            <div class="outie"><i class="fa fa-lg fa-female"></i></div>
                          </div>
                          <div class="shadow"></div>
                        </section>
                    </div>
                </div>
                <div class="partyBox col-xs-5 col-sm-4 col-md-2">
                    <div ng-repeat="icon in socialIcons" class="ng-scope">
                        <section class="partyBoxSection">
                          <div class="button"><a target="_blank" class="btn"><span class="label">image</span></a></div>
                          <div class="cover">
                            <div class="innie"><i class="fa fa-lg fa-female"></i></div>
                            <div class="spine"></div>
                            <div class="outie"><i class="fa fa-lg fa-female"></i></div>
                          </div>
                          <div class="shadow"></div>
                        </section>
                    </div>
                </div>
                <div class="partyBox col-xs-5 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-2">
                    <div ng-repeat="icon in socialIcons" class="ng-scope">
                        <section class="partyBoxSection">
                          <div class="button"><a target="_blank" class="btn"><span class="label">image</span></a></div>
                          <div class="cover">
                            <div class="innie"><i class="fa fa-lg fa-female"></i></div>
                            <div class="spine"></div>
                            <div class="outie"><i class="fa fa-lg fa-female"></i></div>
                          </div>
                          <div class="shadow"></div>
                        </section>
                    </div>
                </div>
                <div class="partyBox col-xs-5  col-sm-4 col-md-2">
                    <div ng-repeat="icon in socialIcons" class="ng-scope">
                        <section class="partyBoxSection">
                          <div class="button"><a target="_blank" class="btn"><span class="label">image</span></a></div>
                          <div class="cover">
                            <div class="innie"><i class="fa fa-lg fa-female"></i></div>
                            <div class="spine"></div>
                            <div class="outie"><i class="fa fa-lg fa-female"></i></div>
                          </div>
                          <div class="shadow"></div>
                        </section>
                    </div>
                </div>
                <div class="partyBox col-xs-5 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-2">
                    <div ng-repeat="icon in socialIcons" class="ng-scope">
                        <section class="partyBoxSection">
                          <div class="button"><a target="_blank" class="btn"><span class="label">image</span></a></div>
                          <div class="cover">
                            <div class="innie"><i class="fa fa-lg fa-female"></i></div>
                            <div class="spine"></div>
                            <div class="outie"><i class="fa fa-lg fa-female"></i></div>
                          </div>
                          <div class="shadow"></div>
                        </section>
                    </div>
                </div>
                <div class="partyBox  col-xs-5 col-sm-4 col-md-2">
                    <div ng-repeat="icon in socialIcons" class="ng-scope">
                        <section class="partyBoxSection">
                          <div class="button"><a target="_blank" class="btn"><span class="label">image</span></a></div>
                          <div class="cover">
                            <div class="innie"><i class="fa fa-lg fa-female"></i></div>
                            <div class="spine"></div>
                            <div class="outie"><i class="fa fa-lg fa-female"></i></div>
                          </div>
                          <div class="shadow"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div><!-- end party boxes -->
    </div> <!-- end weddingpartygroup -->
    <div class="weddingPartyGroup row">
        <div class="title col-sm-3 col-xs-12">GROOMSMEN</div>
        <div class="partyBoxes comingSoon col-sm-8 col-xs-12">Coming soon...</div>
    </div>
</div>
<div id="section6" class="bigBg"></div>




<!-- ideas grass scene with us 2 throwing a frisbee, video of liz throwing tantrum and flipping over board game  -->

<!-- store name when rsvping and display name like welcome rudy, somewhere near the top whenever they revisit the site -->

<!-- cartoon animation with 2 of us spinning and chasing each other -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="script.js"></script> -->
<script type="text/javascript">
// 	$(document).ready(function() {
// 		var html = '<video bgcolor="#FFFFFF" id="heroVideo" loop="loop" preload="auto" autoplay'+ 
// 		'id="pretzel-video" class="video-playing">'+
//         '<source src="images/waves.mp4" type="video/mp4">'+
//     '</video>';
// 		$("#header").prepend(html);
// 		setTimeout(function(){$('#heroVideo').show()}, 1000)
// 		// $('#heroVideo').show();
// 	});
// 	$('#heroVideo param[name="bgcolor"]').val('#FFFFFF');
// var $video = $('video');
var $fixedBg = $('.fixedBg');
var $section1 = $('#section1');
var $section2 = $('#section2');
var $jumbotron = $('.jumbotron');
var $window = $(window);
var winHeight = $window.height();

// initial count how many elements are going to be faded in
// keep track of how many have been faded in
// when all have been faded in, remove the function or handler

$(window).resize(function() {
    winHeight = $window.height();
});

// $('.animateFade').each(function() {
//     if (inViewport($(this),winHeight)) {
//         $(this).addClass('fadeIn');
//         $(this).removeClass('transitionTop');
//     }
//     $(this).addClass('transitionTop');

// });



$('.animateOpacity').each(function() {
    if (inViewport($(this),winHeight)) {
        $(this).addClass('animateOpacityOn').animate({opacity: 1}, 1200);
    }
});

$('.transitionPosition').each(function() {
    if (inViewport($(this),winHeight)) {
        $(this).removeClass('transitionTop')
        .removeClass('transitionLeft')
        .removeClass('transitionRight')
        .removeClass('transitionBottom');
    }
});

$('#menuIcon').click(function() {
    if ($(this).hasClass('open')) {
        $(this).removeClass('open');
        $('#menu').removeClass('open');
    } else {
        $(this).addClass('open');
        $('#menu').addClass('open');
    }
});


$(window).scroll(function(){
    var winTop = $window.scrollTop();
    // var section1Top =  20 + (winTop/winHeight) * 100;
    var section1Top =  -(winTop / winHeight)*100;
    
    // $section1.css('background-position', '50% '+section1Top+'%');
    $section1.css('background-position', '50% '+section1Top+'px');
    // $fixedBg.css('transform', 'translate3d(0,'+section1Top+'%, 0');
    $jumbotron.css('opacity', 1 - (winTop/500));

    // if ($section2[0].getBoundingClientRect().top < 0) {
    //     $video.hide();
    // } else {
    //     $video.show();
    //     $video.css('top', -(winTop/5));
    // }

    // $('.animateFade').each(function() {
    //     if (inViewport($(this),winHeight)) {
    //         $(this).addClass('fadeIn');
    //         $(this).removeClass('transitionTop');
    //     }
    // });

    $('.animateOpacity').each(function() {
        if (inViewport($(this),winHeight) && !$(this).hasClass('animateOpacityOn')) {
            $(this).addClass('animateOpacityOn').animate({opacity: 1}, 1200);
        }
    });

    $('.transitionPosition').each(function() {
        if (inViewport($(this),winHeight)) {
            $(this).removeClass('transitionTop')
            .removeClass('transitionLeft')
            .removeClass('transitionRight')
            .removeClass('transitionBottom');
        }
    });
});

var zindex = 20;
$('.partyBox').each(function() {
    $(this).css('z-index', zindex--);
});

$('#menu').find('a').click(function (event) {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top
            }, 1000);
            return false;
        }
    }
});



function inViewport(el, winHeight) {
    //detects if element is in or above viewport
    var rect = el[0].getBoundingClientRect();
    return (rect.bottom - 100 <= winHeight);
}

</script>
<script>
 	function initialize() {
    	var mapCanvas = document.getElementById('map_canvas');
    	var mapOptions = {
			center: new google.maps.LatLng(32.86, -117.24),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			scrollwheel: false,
        }
    	var map = new google.maps.Map(mapCanvas, mapOptions); 
    	var iconBase = 'images/';
		var marker = new google.maps.Marker({
				position: new google.maps.LatLng(32.8645, -117.254222),
				map: map,
				icon: iconBase + 'lovemarker.png'
		});
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    
$('body').scrollspy({ target: '#menu', offset: 400 });

</script>
</body>
</html>